.gray-background{
  background-color: gray;
}
#var-def {
  display: none;
}

#func-def {
  display: none;
}

#func-def1 {
  display: none;
}

#func-def2 {
  display: none;
}

#func-def3 {
  display: none;
}

#func-def4 {
  display: none;
}

#func-def5 {
  display: none;
}

#func-def6 {
  display: none;
}
